body {
    background-color: black;
    margin-top: 10%;
    margin-left: 10%;
    text-align: left;
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: whitesmoke;
}

h3 {
    color: white;
}

a {
    color: aqua;
}